# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio stuff
*.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

[Dd]ebug/
[Rr]elease/

[Dd]ebug_Game/
[Rr]elease_Game/

[Dd]ebug_MapEditor/
[Rr]elease_MapEditor/

[Dd]ebug_TilesetEditor/
[Rr]elease_TilesetEditor/

[Pp]ackages/
x64/

[Ee]nginnit/[Dd]ebug
[Ee]nginnit/[Rr]elease

[Ee]nginnit/[Dd]ebug_Game/
[Ee]nginnit/[Rr]elease_Game/

[Ee]nginnit/[Dd]ebug_MapEditor/
[Ee]nginnit/[Rr]elease_MapEditor/

[Ee]nginnit/[Dd]ebug_TilesetEditor/
[Ee]nginnit/[Rr]elease_TilesetEditor/

[Ee]nginnit/x64